body{
    background-color:crimson;
    background-image: url(logo.jpg.jpg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 1400px 550px;
    
}
input{
outline:none;
background-color: green ;
-webkit-text-fill-color: white;
}
select{
    color: white;
    background-color: green;
}
textarea{
    background-color: yellow ;
    -webkit-text-fill-color:red;
}
